<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="title">Title :</label>
            <textarea type="text" class="form-control" name="title">{{movie.title}}</textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <input type="submit" value="Valider" class="float-right">
        </div>
    </div>
</form>