{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
  <h1 class="col-12">Edit movie informations</h1>
</div>
<div class="row">
  <a href="/movie/delete/{{movie.id}}" class="float-right danger">Delete</a>
</div>
<div class="row">
  <div class="col-12">
    {% include 'Movie/_form.html.twig' %}
  </div>
</div>
<div class="row">
  <a href="/movie/list">Back</a>
</div>
{% endblock %}
