{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    <h1 class="col-12">All Movies</h1>
</div>
<div class="row">
    <ul class="list">
        {% for movie in movies %}
            <li><a href="/movie/details/{{ movie.id }}">{{ movie.title }}</a>  </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
</div>
<nav class="row">
    <a href="/beast/list">Check the beast</a>
    <a href="/planet/list">Check the planets</a>
</nav>
{% endblock %}